<h1 class="page-header">Compare <%= name %> to <%= query.aggregate ? 'Aggregated Modules' : '' %></h1>
<% for(var i = 0; i < compare.length; i++) { %>
  <h2 class="page-header"><%= compare[i].module.name %></h1>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Module downloads per Month</h3>
    </div>
    <div class="panel-body">
      <h4>Float mouse over lines to see tooltip</h4>
      <div id='<%= compare[i].div %>' class='bar_graph_compare'></div>
    </div>
  </div>
<% } %>
<% for(var i = 0; i < compare.length; i++) { %>
<%- compare[i].graph %>
<% } %>
